/* ===========================================
    HEADING
=========================================== */

.background-blur {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 0%, .25);
    backdrop-filter: blur(1px);
}

.background-blur.hide {
    opacity: 0;
}