

.cart-button {
  height: 27px;
  border-radius: 6px;
  aspect-ratio: 1;
}

.cart-button svg {
  height: 14px;
  fill: white;
  width: auto;
  opacity: .8;
}

.cart-button:hover {
  background-color: hsl(0, 0%, 100%, .08);
}

.cart-button:hover svg {
  opacity: 1;
}

nav.dark svg {
  fill: #1A1A1A;
}
